python-code/__pycache__
python-code/.idea

python-code-modified/__pycache__
python-code-modified/.idea

experements
*.swp
sequential-LBM/build/
sequential-LBM/debug/

parallel-LBM/build/
parallel-LBM/debug/

*/GPATH
*/GTAGS
*/GRTAGS

*/*/GPATH
*/*/GTAGS
*/*/GRTAGS

*/bin
